/* Colors-------------------------------------*/

$color-grey-dark: #707074;

$color-white: #fff;
$color-black: #000;

$color-success: #5cb85c;
$color-danger: #c32430;

$color-tw-stgrey6: #78716c;

$box-shadow-btn-up: 0 1rem 2rem rgba($color-black, 0.15);
$box-shadow-btn-down: 0 0.5rem 1rem rgba($color-black, 0.15);
