.checkbox {
  opacity: 0;
  &:checked + label > svg {
    stroke-dashoffset: 0;
  }
}
.gift-checkbox {
  border-radius: 4px;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.6);
  height: 3rem;
  width: 3rem;
  top: 5px;
  left: 5px;
  position: absolute;
  z-index: 100;
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  &:hover {
    background-color: rgb(242, 242, 242);
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.8);
  }
  &__tick {
    stroke-dasharray: 25;
    stroke-dashoffset: 25;
    transition: all 0.5s ease-in-out;
  }
}
