*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%;
  scroll-behavior: smooth;
  @media only screen and (max-width: 705px) {
    font-size: 55%;
  }
  @media only screen and (max-width: 640px) {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: inherit;
}

section {
  position: relative;
}
